<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ItaCalendar.Properties.Settings.ZSIConnectionString"
            connectionString="Data Source=srv2k8;Initial Catalog=ZSI;Persist Security Info=True;User ID=sa;Password=sash17ne"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>