<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ToDoNotificheBSC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ToDoNotificheBSC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="ToDoNotificheBSC.Properties.Settings.MetodoConnectionString"
        connectionString="Data Source=172.19.1.17;Initial Catalog=ZSI;Persist Security Info=True;User ID=knos;Password=zx1ctp21"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <applicationSettings>
        <ToDoNotificheBSC.Properties.Settings>
            <setting name="MetodoCommand" serializeAs="String">
                <value>SELECT * FROM ZS_VISTA_NOTIFICHEBSC</value>
            </setting>
            <setting name="CdoConfig" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SMTPServerName=172.23.2.95</string>
                        <string>SMTPAUTHPassword=ZSI-MSDS</string>
                        <string>SMTPAUTHUser=msds.zsi@zschimmer-schwarz.com</string>
                        <string>SMTPAUTHUserEmail=msds.zsi@zschimmer-schwarz.com</string>
                        <string>SMTPPort=25</string>
                        <string>SMTPUseSSL=0</string>
                        <string>SMTPAlwaysSendAs=</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UseCdo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sendMailPopUp" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="sendMailSchede" serializeAs="String">
                <value>&lt;html&gt;
&lt;body&gt;
    &lt;div&gt;
        &lt;p&gt;
            &lt;br /&gt;
            Gent.mo Cliente,&lt;br /&gt;
            in allegato l'aggiornamento di:&lt;br /&gt;
            &lt;b&gt;{0}&lt;/b&gt;&lt;br /&gt;
            &lt;b&gt;{1}&lt;/b&gt;&lt;br /&gt;
            {2}&lt;br /&gt;&lt;br /&gt;
            Si prega di non rispondere a questo indirizzo email.&lt;br /&gt;
            &lt;br /&gt;
            Dear Customer,&lt;br /&gt;
            please find the attached revised document:&lt;br /&gt;
            &lt;b&gt;{0}&lt;/b&gt;&lt;br /&gt;
            &lt;b&gt;{1}&lt;/b&gt;&lt;br /&gt;
            {2}&lt;br /&gt;&lt;br /&gt;
            Please do not reply to this email address.&lt;br /&gt;
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;hr /&gt;
        &lt;p&gt;
            &lt;span&gt;&lt;b&gt;ZSCHIMMER &amp; SCHWARZ ITALIANA S.p.A.&lt;/b&gt;&lt;/span&gt;
        &lt;br /&gt;
        Via A. Ariotto 1/C&lt;br /&gt;
        I - 13038 Tricerro, Italia&lt;br /&gt;
        &lt;br /&gt;
        Tel: +39 0161 808111&lt;br /&gt;
        Fax: +39 0161 807335&lt;br /&gt;
        Ufficio Commerciale/Sales Office:&lt;br /&gt;
        Fax: +39 0161 801002&lt;br /&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</value>
            </setting>
            <setting name="sendMailEmbeddedImagesPath" serializeAs="String">
                <value>EmailImages</value>
            </setting>
            <setting name="KnoS_IdObject" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sendMailBollettini" serializeAs="String">
                <value>&lt;html&gt;
&lt;body&gt;
    &lt;div&gt;
        &lt;p&gt;
            &lt;br /&gt;
            Gent.mo Cliente,&lt;br /&gt;
            in allegato l'aggiornamento di:&lt;br /&gt;
            {0}&lt;br /&gt;
            {1}&lt;br /&gt;
            Si prega di non rispondere a questo indirizzo email.&lt;br /&gt;
            &lt;hr /&gt;
            Dear Customer,&lt;br /&gt;
            please find the attached revised document:&lt;br /&gt;
            {0}&lt;br /&gt;
            {1}&lt;br /&gt;
            Please do not reply to this email address.&lt;br /&gt;
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;hr /&gt;
        &lt;p&gt;
            &lt;span&gt;&lt;b&gt;ZSCHIMMER &amp; SCHWARZ&lt;/b&gt;&lt;/span&gt;&lt;br /&gt;
        Italiana S.p.A.
        &lt;br /&gt;
        Via A. Ariotto 1/C&lt;br /&gt;
        I - 13038 Tricerro, Italia&lt;br /&gt;
        &lt;br /&gt;
        Tel: +39 0161 808111&lt;br /&gt;
        Fax: +39 0161 807335&lt;br /&gt;
        Ufficio Commerciale:&lt;br /&gt;
        Fax: +39 0161 801002
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</value>
            </setting>
            <setting name="PathPDF" serializeAs="String">
                <value>W:\</value>
            </setting>
            <setting name="sendMailSchedeTecnicheSubject" serializeAs="String">
                <value>Invio DOCUMENTAZIONE - Cliente/Customer: {0}</value>
            </setting>
            <setting name="sendMailBollettiniSubject" serializeAs="String">
                <value>Invio BOLLETTINI - Cliente/Customer {0}</value>
            </setting>
            <setting name="sendMailBCC" serializeAs="String">
                <value>knosmail@gmail.com;m.michieletti@zschimmer-schwarz.com;msds.zsi@zschimmer-schwarz.com;</value>
            </setting>
            <setting name="SqlUpdateBSC" serializeAs="String">
                <value>EXECUTE dbo.ITA_SP_UPDATE_REGISTRONOTIFICHEBSC </value>
            </setting>
            <setting name="KnoS_IdActionUpdateSchede" serializeAs="String">
                <value>5018</value>
            </setting>
            <setting name="KnoS_IdActionUpdateSchedeRedazione" serializeAs="String">
                <value>5016</value>
            </setting>
            <setting name="PathPDF_H" serializeAs="String">
                <value>H:\LETTERATURE PRODOTTI FINITI\SCHEDE DI SICUREZZA</value>
            </setting>
            <setting name="sendMailBCCSimulazione" serializeAs="String">
                <value>knosmail@gmail.com;m.michieletti@zschimmer-schwarz.com</value>
            </setting>
            <setting name="sendMailCOASubject" serializeAs="String">
                <value>Invio COA - Cliente/Customer: {0}</value>
            </setting>
            <setting name="sendMailCOA" serializeAs="String">
                <value>&lt;html&gt;
&lt;body&gt;
    &lt;div&gt;
        &lt;p&gt;
            &lt;br /&gt;
            Gent.mo Cliente,&lt;br /&gt;
            in allegato il certificato di analisi di:&lt;br /&gt;
            {0}&lt;br /&gt;
            Si prega di non rispondere a questo indirizzo email.&lt;br /&gt;
            &lt;hr /&gt;
            Dear Customer,&lt;br /&gt;
            please find the attached revised document:&lt;br /&gt;
            {0}&lt;br /&gt;
            Please do not reply to this email address.&lt;br /&gt;
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;hr /&gt;
        &lt;p&gt;
            &lt;span&gt;&lt;b&gt;ZSCHIMMER &amp; SCHWARZ ITALIANA S.p.A.&lt;/b&gt;&lt;/span&gt;
        &lt;br /&gt;
        Via A. Ariotto 1/C&lt;br /&gt;
        I - 13038 Tricerro, Italia&lt;br /&gt;
        &lt;br /&gt;
        Tel: +39 0161 808111&lt;br /&gt;
        Fax: +39 0161 807335&lt;br /&gt;
        Ufficio Commerciale/Sales Office:&lt;br /&gt;
        Fax: +39 0161 801002&lt;br /&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</value>
            </setting>
            <setting name="MetodoCommandAllegati" serializeAs="String">
                <value>SELECT * FROM ZS_VISTA_ALLEGATISCHEDESICUREZZA</value>
            </setting>
            <setting name="RicercaAutomaticaSchede" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvioAutomaticaSchede" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseVbs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CdoConfigCOA" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SMTPServerName=smtp.gmail.com</string>
                        <string>SMTPAUTHPassword=KnosMailService2015</string>
                        <string>SMTPAUTHUser=knosmail@gmail.com</string>
                        <string>SMTPAUTHUserEmail=knosmail@gmail.com</string>
                        <string>SMTPPort=465</string>
                        <string>SMTPUseSSL=1</string>
                        <string>SMTPAlwaysSendAs=</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="sendMailBCCCOA" serializeAs="String">
                <value>knosmail@gmail.com;m.michieletti@zschimmer-schwarz.com;coa.zsi@zschimmer-schwarz.com;</value>
            </setting>
            <setting name="sendMailBCCSimulazioneCOA" serializeAs="String">
                <value>knosmail@gmail.com;m.michieletti@zschimmer-schwarz.com;coa.zsi@zschimmer-schwarz.com;</value>
            </setting>
            <setting name="LotusConfig" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SMTPServerName=smtp.gmail.com</string>
                        <string>SMTPAUTHPassword=KnosMailService2015</string>
                        <string>SMTPAUTHUser=knosmail@gmail.com</string>
                        <string>SMTPAUTHUserEmail=knosmail@gmail.com</string>
                        <string>SMTPPort=465</string>
                        <string>SMTPUseSSL=1</string>
                        <string>SMTPAlwaysSendAs=</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="sendMailBollettiniVbsLotus" serializeAs="String">
                <value>"Gent.mo Cliente," &amp; vbcrlf &amp; "in allegato l'aggiornamento di:" &amp; vbcrlf &amp; "{0}" &amp; vbcrlf &amp; "{1}" &amp; vbcrlf &amp; "Si prega di non rispondere a questo indirizzo email." &amp; vbcrlf &amp; "Dear Customer," &amp; vbcrlf &amp; "please find the attached revised document:" &amp; vbcrlf &amp; "{0}" &amp; vbcrlf &amp; "{1}" &amp; vbcrlf &amp; "Please do not reply to this email address." &amp; vbcrlf &amp; "ZSCHIMMER &amp; SCHWARZ" &amp; vbcrlf &amp; "Italiana S.p.A." &amp; vbcrlf &amp; "Via A. Ariotto 1/C" &amp; vbcrlf &amp; "I - 13038 Tricerro, Italia" &amp; vbcrlf &amp; "Tel: +39 0161 808111" &amp; vbcrlf &amp; "Fax: +39 0161 807335" &amp; vbcrlf &amp; "Ufficio Commerciale:" &amp; vbcrlf &amp; "Fax: +39 0161 801002" </value>
            </setting>
            <setting name="sendMailCOAVbsLotus" serializeAs="String">
                <value>"Gent.mo Cliente," &amp; vbcrlf &amp; "in allegato il certificato di analisi di:" &amp; vbcrlf &amp; "{0}" &amp; vbcrlf &amp; "Si prega di non rispondere a questo indirizzo email." &amp; vbcrlf &amp; "Dear Customer," &amp; vbcrlf &amp; "please find the attached revised document:" &amp; vbcrlf &amp; "{0}" &amp; vbcrlf &amp; "Please do not reply to this email address." &amp; vbcrlf &amp; "ZSCHIMMER &amp; SCHWARZ" &amp; vbcrlf &amp; "Italiana S.p.A." &amp; vbcrlf &amp; "Via A. Ariotto 1/C" &amp; vbcrlf &amp; "I - 13038 Tricerro, Italia" &amp; vbcrlf &amp; "Tel: +39 0161 808111" &amp; vbcrlf &amp; "Fax: +39 0161 807335" &amp; vbcrlf &amp; "Ufficio Commerciale:" &amp; vbcrlf &amp; "Fax: +39 0161 801002" </value>
            </setting>
            <setting name="sendMailMAG" serializeAs="String">
                <value>&lt;html&gt;
&lt;body&gt;
    &lt;div&gt;
&lt;p&gt;notifica da parte del magazzino&lt;/p&gt;
        &lt;p&gt;
            {0}
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;hr /&gt;
        &lt;p&gt;
            &lt;span&gt;&lt;b&gt;ZSCHIMMER &amp; SCHWARZ ITALIANA S.p.A.&lt;/b&gt;&lt;/span&gt;
        &lt;br /&gt;
        Via A. Ariotto 1/C&lt;br /&gt;
        I - 13038 Tricerro, Italia&lt;br /&gt;
        &lt;br /&gt;
        Tel: +39 0161 808111&lt;br /&gt;
        Fax: +39 0161 807335&lt;br /&gt;
        Ufficio Commerciale/Sales Office:&lt;br /&gt;
        Fax: +39 0161 801002&lt;br /&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</value>
            </setting>
            <setting name="MAGTipiDocItalia" serializeAs="String">
                <value>'OCC'</value>
            </setting>
            <setting name="MAGTipiImballiEsclusi" serializeAs="String">
                <value>100, 101</value>
            </setting>
            <setting name="MAGMetodoCommand" serializeAs="String">
                <value>SELECT * FROM EXCEL_PORTAFOGLIOORDINI</value>
            </setting>
            <setting name="sendMailMAGBackOffice" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>m.michieletti@zschimmer-schwarz.com</string>
                        <string>e.presutto@zschimmer-schwarz.com</string>
                        <string>m.pastore@zschimmer-schwarz.com</string>
                        <string>g.ogliaro@zschimmer-schwarz.com</string>
                        <string>i.sesia@zschimmer-schwarz.com</string>
                        <string>m.finassi@zschimmer-schwarz.com</string>
                        <string>m.costanzo@zschimmer-schwarz.com</string>
                        <string>v.mussio@zschimmer-schwarz.coM</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="sendMailMAGProduzione" serializeAs="String">
                <value>m.michieletti@zschimmer-schwarz.com</value>
            </setting>
            <setting name="sendMailMAGPosizionamento" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>m.finassi@zschimmer-schwarz.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MAGModuloM12TrasportatoreColonne" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>XLS_DATACARICO</string>
                        <string>ARTICOLO</string>
                        <string>XLS_DESCRIZIONE</string>
                        <string>XLS_QTA</string>
                        <string>XLS_TIPOIMBALLO</string>
                        <string>XLS_NUMONU</string>
                        <string>XLS_CLASSEADR</string>
                        <string>XLS_NRLOTTO</string>
                        <string>XLS_DESTINAZIONE</string>
                        <string>XLS_DATACONSEGNA</string>
                        <string>XLS_NOTE</string>
                        <string>XLS_COSTO</string>
                        <string>XLS_SPEDIZIONIERE</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MAGModuloM13TrasportatoreColonne" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>XLS_DATACARICO</string>
                        <string>XLS_CLIENTE</string>
                        <string>DESCRIZIONE</string>
                        <string>XLS_QTA</string>
                        <string>XLS_DESTINAZIONE</string>
                        <string>XLS_NUMONU</string>
                        <string>XLS_CLASSEADR</string>
                        <string>XLS_NOTEMAG</string>
                        <string>XLS_DATACONSEGNA</string>
                        <string>XLS_NOTEART</string>
                        <string>XLS_COSTO</string>
                        <string>XLS_SPEDIZIONIERE</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MAGModuloM14TrasportatoreColonne" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>XLS_DATACARICO</string>
                        <string>NOTECONTAINER</string>
                        <string>XLS_VUOTO</string>
                        <string>RAGIONESOCIALE</string>
                        <string>XLS_DESTINAZIONE</string>
                        <string>XLS_CLASSEADR</string>
                        <string>XLS_SHIPPER</string>
                        <string>XLS_NOTECONSIGNEE</string>
                        <string>XLS_NOTENOTIFY</string>
                        <string>XLS_DOCUMENTI</string>
                        <string>XLS_NOTE</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MAGTipiDocEstero" serializeAs="String">
                <value>'OCE'</value>
            </setting>
            <setting name="CdoConfigM05" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SMTPServerName=smtp.gmail.com</string>
                        <string>SMTPAUTHPassword=KnosMailService2015</string>
                        <string>SMTPAUTHUser=knosmail@gmail.com</string>
                        <string>SMTPAUTHUserEmail=knosmail@gmail.com</string>
                        <string>SMTPPort=465</string>
                        <string>SMTPUseSSL=1</string>
                        <string>SMTPAlwaysSendAs=</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="sendMailM05" serializeAs="String">
                <value>&lt;html&gt;
&lt;body style="font-family:Tahoma; font-size:10pt;"&gt;
    &lt;div style="overflow-x:auto;"&gt;
&lt;br&gt;
        &lt;p&gt;
            {0}
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</value>
            </setting>
            <setting name="MailSavedLocal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sendMailM05Subject" serializeAs="String">
                <value>Invio mail M05</value>
            </setting>
            <setting name="MAGModuloM12ITATrasportatoreColonne" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ARTICOLO</string>
                        <string>DESCRIZIONE</string>
                        <string>QTASPEDIBILE</string>
                        <string>XLS_TIPOIMBALLO</string>
                        <string>XLS_NUMONU</string>
                        <string>XLS_CLASSEADR</string>
                        <string>XLS_NRLOTTO</string>
                        <string>XLS_DESTINAZIONE</string>
                        <string>XLS_DATACONSEGNA</string>
                        <string>XLS_NOTE</string>
                        <string>XLS_SPEDIZIONIERE</string>
                        <string>XLS_DATACARICO</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UseLotus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MAGModuloM05Export" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>XLS_M05_ESTERO_CLIENTE</string>
                        <string>XLS_M05_ESTERO_DOCUMENTO</string>
                        <string>XLS_M05_ESTERO_ARTICOLO</string>
                        <string>XLS_M05_ESTERO_DESCRIZIONE</string>
                        <string>XLS_M05_ESTERO_QTAGEST</string>
                        <string>XLS_M05_ESTERO_NRPEZZIIMBALLO</string>
                        <string>XLS_M05_ESTERO_NRCOLLI</string>
                        <string>XLS_M05_ESTERO_TIPOIMBALLO</string>
                        <string>XLS_M05_ESTERO_NOTE</string>
                        <string>XLS_M05_ESTERO_ETICHETTATURA</string>
                        <string>XLS_M05_ESTERO_CONSEGNA</string>
                        <string>XLS_M05_ESTERO_POSIZIONAMENTO</string>
                        <string>XLS_M05_ESTERO_DISPONIBILITA</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PathCOA" serializeAs="String">
                <value>\\srv2k8\dati\Certificati</value>
            </setting>
            <setting name="MNNDataNomeFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RowHeaderImageList" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="pathServerApp" serializeAs="String">
                <value>I:\Italcom\PrototipoMagazzino</value>
            </setting>
            <setting name="MAGModuloM15GRTrasportatoreColonne" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>XLS_M15_DATALUOGOCONSEGNA</string>
                        <string>XLS_M15_QTASPEDIBILE</string>
                        <string>XLS_M05_ESTERO_TIPOIMBALLO</string>
                        <string>XLS_M15_NUMONU</string>
                        <string>XLS_M15_CLASSEADR</string>
                        <string>XLS_DESTINAZIONERAGSOC</string>
                        <string>XLS_M15_RESA</string>
                        <string>XLS_SHIPPER</string>
                        <string>XLS_NOTECONSIGNEE</string>
                        <string>XLS_NOTENOTIFY</string>
                        <string>XLS_DOCUMENTI</string>
                        <string>XLS_NOTE</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MAGModuloM15TrasportatoreColonne" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>XLS_M15_DATALUOGOCONSEGNA</string>
                        <string>XLS_M15_QTASPEDIBILE</string>
                        <string>XLS_M05_ESTERO_TIPOIMBALLO</string>
                        <string>XLS_M15_NUMONU</string>
                        <string>XLS_M15_CLASSEADR</string>
                        <string>XLS_DESTINAZIONERAGSOC</string>
                        <string>XLS_M15_RESA</string>
                        <string>XLS_SHIPPER</string>
                        <string>XLS_NOTECONSIGNEE</string>
                        <string>XLS_NOTENOTIFY</string>
                        <string>XLS_DOCUMENTI</string>
                        <string>XLS_NOTE</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PathRMI" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\\srv2k8\Dati\LETTERATURE PRODOTTI FINITI\RMI</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="KnoS_IdActionUpdateRMIRedazione" serializeAs="String">
                <value>5019</value>
            </setting>
            <setting name="KnoS_IdActionUpdateRMI" serializeAs="String">
                <value>5021</value>
            </setting>
            <setting name="SqlSchede" serializeAs="String">
                <value>SELECT * FROM ZS_VISTA_FILEEPY_REVISIONLAST WHERE DATAMODIFICA &gt;= '{0}'</value>
            </setting>
            <setting name="MetodoConnectionStringUSER" serializeAs="String">
                <value>Data Source=172.19.1.17;Initial Catalog=ZSI;Persist Security Info=True;User ID={0};Password={1}</value>
            </setting>
            <setting name="MAGMetodoCommandM10" serializeAs="String">
                <value>SELECT * FROM EXCEL_PORTAFOGLIOORDINI_M10</value>
            </setting>
            <setting name="listPathPDF" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>W:\</string>
                        <string>C:\temp\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="listPathPDF_H" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>H:\LETTERATURE PRODOTTI FINITI\SCHEDE DI SICUREZZA</string>
                        <string>C:\Temp</string>
                        <string>C:\_condivisa</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SqlUpdateBSC_PA" serializeAs="String">
                <value>EXECUTE dbo.ITA_SP_UPDATE_REGISTRONOTIFICHEBSC _PA</value>
            </setting>
        </ToDoNotificheBSC.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ToDoNotificheBSC.Properties.Settings>
            <setting name="KnoS_User" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="KnoS_PWD" serializeAs="String">
                <value />
            </setting>
            <setting name="KnoS_URL" serializeAs="String">
                <value>http://ZSI-WEBSRV:81</value>
            </setting>
            <setting name="DataAggiornamento" serializeAs="String">
                <value>2015-05-01</value>
            </setting>
            <setting name="DataInvioSchede" serializeAs="String">
                <value>2015-01-01</value>
            </setting>
            <setting name="MAGTipiImballo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MAGTStatoM05" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MAGTipoOrdini" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentUser" serializeAs="String">
                <value />
            </setting>
            <setting name="DataAggiornamentoRMI" serializeAs="String">
                <value>2018-01-01</value>
            </setting>
        </ToDoNotificheBSC.Properties.Settings>
    </userSettings>
</configuration>
