<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZSI_IMPORTLISTINI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ZSI_IMPORTLISTINI.Properties.Settings.MetodoConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=ts_dms;Persist Security Info=True;User ID=sa;Password=sash17ne"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <ZSI_IMPORTLISTINI.Properties.Settings>
            <setting name="SettingPathFileListino" serializeAs="String">
                <value />
            </setting>
            <setting name="ColumnFields" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MACROARTICOLO|A</string>
                        <string>LISTINO|</string>
                        <string>DEF_COL_A|</string>
                        <string>VAL_COL_A|I</string>
                        <string>DEF_COL_B|</string>
                        <string>VAL_COL_B|J</string>
                        <string>DEF_COL_C|</string>
                        <string>VAL_COL_C|K</string>
                        <string>DEF_COL_D|</string>
                        <string>VAL_COL_D|L</string>
                        <string>DEF_COL_E|</string>
                        <string>VAL_COL_E|M</string>
                        <string>DEF_COL_F|</string>
                        <string>VAL_COL_F|N</string>
                        <string>DEF_COL_G|</string>
                        <string>VAL_COL_G|O</string>
                        <string>DEF_COL_H|</string>
                        <string>VAL_COL_H|P</string>
                        <string>DEF_COL_I|</string>
                        <string>VAL_COL_I|Q</string>
                        <string>DEF_COL_L|</string>
                        <string>VAL_COL_L|R</string>
                        <string>DEF_COL_M|</string>
                        <string>VAL_COL_M|S</string>
                        <string>DEF_COL_N|</string>
                        <string>VAL_COL_N|T</string>
                        <string>DEF_COL_O|</string>
                        <string>VAL_COL_O|U</string>
                        <string>DEF_COL_P|</string>
                        <string>VAL_COL_P|V</string>
                        <string>DEF_COL_Q|</string>
                        <string>VAL_COL_Q|W</string>
                        <string>DEF_COL_R|</string>
                        <string>VAL_COL_R|X</string>
                        <string>DEF_COL_S|</string>
                        <string>VAL_COL_S|Y</string>
                        <string>DEF_COL_T|</string>
                        <string>VAL_COL_T|Z</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MetodoAggiornaCMD" serializeAs="String">
                <value>ITA_SP_UPDATE_DATIPROVVIGIONI</value>
            </setting>
            <setting name="MetodoVerifica" serializeAs="String">
                <value>SELECT COUNT(*) FROM ITA_TAB_DEFPROV WHERE MACROARTICOLO ='{0}' AND {1} =CAST(REPLACE('{2}', ',', '.') AS DECIMAL(19,3))</value>
            </setting>
            <setting name="MetodoStoricoCMD" serializeAs="String">
                <value>SELECT * FROM ITA_VISTA_DEFPROV ORDER BY MACROARTICOLO, DataModifica DESC</value>
            </setting>
            <setting name="FoglioListino" serializeAs="String">
                <value>listino</value>
            </setting>
            <setting name="MetodoPrezziparticolari" serializeAs="String">
                <value>SELECT T,NR, CODCLIFOR, DSCCONTO, CODART, DSCARTICOLO, UM, INIZIOVALIDITA, FINEVALIDITA, QTAMINIMA, PREZZO_MAGG, PREZZO_MAGGEURO, NRLISTINO, DSCLISTINO, 
CODARTRIC, CODPADRE, DSCA, COD_IMBALLO, DSCIMBALLO, QTA_COLLI, PROGRESSIVO, IDRIGA, 
('update GESTIONEPREZZIRIGHE set PREZZO_MAGG = #PREZZO_MAGG#, PREZZO_MAGGEURO = #PREZZO_MAGGEURO# where RIFPROGRESSIVO = ' + CAST(PROGRESSIVO AS VARCHAR) + ' and IDRIGA = ' + CAST(IDRIGA AS VARCHAR)) as SQLUPDATE , 
('update GESTIONEPREZZI set INIZIOVALIDITA = @0, FINEVALIDITA =@1 where PROGRESSIVO = ' + CAST(PROGRESSIVO AS VARCHAR)) as SQLUPDATE_TESTATE 
FROM dbo.VISTA_GESTIONEPREZZI</value>
            </setting>
            <setting name="pathServerApp" serializeAs="String">
                <value>C:\temp</value>
            </setting>
        </ZSI_IMPORTLISTINI.Properties.Settings>
    </applicationSettings>
</configuration>