<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ToDoNotificheBSC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ToDoNotificheBSC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="ToDoNotificheBSC.Properties.Settings.MetodoConnectionString"
        connectionString="Data Source=srv2k8;Initial Catalog=ZSI;Persist Security Info=True;User ID=sa;Password=sash17ne"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <ToDoNotificheBSC.Properties.Settings>
            <setting name="MetodoCommand" serializeAs="String">
                <value>SELECT * FROM VISTA_NOTIFICHECLIENTICONTATTI</value>
            </setting>
            <setting name="CdoConfig" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SMTPServerName=smtp.gmail.com</string>
                        <string>SMTPAUTHPassword=serverBI2017</string>
                        <string>SMTPAUTHUser=knosmail@gmail.com</string>
                        <string>SMTPAUTHUserEmail=knosmail@gmail.com</string>
                        <string>SMTPPort=465</string>
                        <string>SMTPUseSSL=1</string>
                        <string>SMTPAlwaysSendAs=</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UseCdo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sendMailPopUp" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="sendMailSchede" serializeAs="String">
                <value>&lt;html&gt;
&lt;body&gt;
    &lt;div&gt;
        &lt;p&gt;
            &lt;br /&gt;
            Gent.mo Cliente,&lt;br /&gt;
            in allegato l'aggiornamento di:&lt;br /&gt;
            &lt;b&gt;{0}&lt;/b&gt;&lt;br /&gt;
            &lt;b&gt;{1}&lt;/b&gt;&lt;br /&gt;
            {2}&lt;br /&gt;&lt;br /&gt;
            Si prega di non rispondere a questo indirizzo email.&lt;br /&gt;
            &lt;br /&gt;
            Dear Customer,&lt;br /&gt;
            please find the attached revised document:&lt;br /&gt;
            &lt;b&gt;{0}&lt;/b&gt;&lt;br /&gt;
            &lt;b&gt;{1}&lt;/b&gt;&lt;br /&gt;
            {2}&lt;br /&gt;&lt;br /&gt;
            Please do not reply to this email address.&lt;br /&gt;
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;hr /&gt;
        &lt;p&gt;
            &lt;span&gt;&lt;b&gt;ZSCHIMMER &amp; SCHWARZ ITALIANA S.p.A.&lt;/b&gt;&lt;/span&gt;
        &lt;br /&gt;
        Via A. Ariotto 1/C&lt;br /&gt;
        I - 13038 Tricerro, Italia&lt;br /&gt;
        &lt;br /&gt;
        Tel: +39 0161 808111&lt;br /&gt;
        Fax: +39 0161 807335&lt;br /&gt;
        Ufficio Commerciale/Sales Office:&lt;br /&gt;
        Fax: +39 0161 801002&lt;br /&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</value>
            </setting>
            <setting name="sendMailEmbeddedImagesPath" serializeAs="String">
                <value>EmailImages</value>
            </setting>
            <setting name="KnoS_IdObject" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sendMailComunicazioni" serializeAs="String">
                <value>&lt;html&gt;
&lt;body&gt;
    &lt;div&gt;
        &lt;p&gt;
            &lt;br /&gt;
            Gent.mo Cliente,&lt;br /&gt;
            Vi preghiamo di prendere visione del file allegato&lt;br /&gt;

	    Non rispondere a questo indirizzo mail&lt;br /&gt;
            &lt;br /&gt;
            Dear Customer,&lt;br /&gt;
            please find the attached document:&lt;br /&gt;

            Please do not reply to this email address.&lt;br /&gt;
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;hr /&gt;
        &lt;p&gt;
            &lt;span&gt;&lt;b&gt;ZSCHIMMER &amp;amp; SCHWARZ ITALIANA S.p.A.&lt;/b&gt;&lt;/span&gt;
        &lt;br /&gt;
        Via A. Ariotto 1/C&lt;br /&gt;
        I - 13038 Tricerro, Italia&lt;br /&gt;
        &lt;br /&gt;
        Tel: +39 0161 808111&lt;br /&gt;
        Fax: +39 0161 807335&lt;br /&gt;
        Ufficio Commerciale/Sales Office:&lt;br /&gt;
        Fax: +39 0161 801002&lt;br /&gt;
&lt;/p&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</value>
            </setting>
            <setting name="PathPDF" serializeAs="String">
                <value>W:\</value>
            </setting>
            <setting name="sendMailSchedeTecnicheSubject" serializeAs="String">
                <value>Invio SCHEDE TECNICHE/MSDS - Cliente/Customer: {0}</value>
            </setting>
            <setting name="sendMailBollettiniSubject" serializeAs="String">
                <value>Invio BOLLETTINI - Cliente/Customer {0}</value>
            </setting>
            <setting name="sendMailBCC" serializeAs="String">
                <value>knosmail@gmail.com;m.michieletti@zschimmer-schwarz.com;msds.zsi@zschimmer-schwarz.com;</value>
            </setting>
            <setting name="SqlUpdateBSC" serializeAs="String">
                <value>EXECUTE dbo.ITA_SP_UPDATE_REGISTRONOTIFICHEBSC </value>
            </setting>
            <setting name="KnoS_IdActionUpdateSchede" serializeAs="String">
                <value>5018</value>
            </setting>
            <setting name="KnoS_IdActionUpdateSchedeRedazione" serializeAs="String">
                <value>5016</value>
            </setting>
            <setting name="PathPDF_H" serializeAs="String">
                <value>H:\LETTERATURE PRODOTTI FINITI\SCHEDE DI SICUREZZA</value>
            </setting>
            <setting name="PathCOA" serializeAs="String">
                <value>C:\_SVILUPPO\ZSI\</value>
            </setting>
            <setting name="sendMailCOASubject" serializeAs="String">
                <value>Invio COA - Cliente/Customer: {0}</value>
            </setting>
            <setting name="sendMailCOA" serializeAs="String">
                <value>&lt;html&gt;
&lt;body&gt;
    &lt;div&gt;
        &lt;p&gt;
            &lt;br /&gt;
            Gent.mo Cliente,&lt;br /&gt;
            in allegato il certificato di analisi di:&lt;br /&gt;
            {0}&lt;br /&gt;
            Si prega di non rispondere a questo indirizzo email.&lt;br /&gt;
            &lt;hr /&gt;
            Dear Customer,&lt;br /&gt;
            please find the attached revised document:&lt;br /&gt;
            {0}&lt;br /&gt;
            Please do not reply to this email address.&lt;br /&gt;
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;hr /&gt;
        &lt;p&gt;
            &lt;span&gt;&lt;b&gt;ZSCHIMMER &amp; SCHWARZ ITALIANA S.p.A.&lt;/b&gt;&lt;/span&gt;
        &lt;br /&gt;
        Via A. Ariotto 1/C&lt;br /&gt;
        I - 13038 Tricerro, Italia&lt;br /&gt;
        &lt;br /&gt;
        Tel: +39 0161 808111&lt;br /&gt;
        Fax: +39 0161 807335&lt;br /&gt;
        Ufficio Commerciale/Sales Office:&lt;br /&gt;
        Fax: +39 0161 801002&lt;br /&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</value>
            </setting>
            <setting name="MetodoCommandAllegati" serializeAs="String">
                <value>SELECT * FROM ZS_VISTA_ALLEGATISCHEDESICUREZZA</value>
            </setting>
            <setting name="UseVbs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sendMailComunicazioniVbsLotus" serializeAs="String">
                <value>"Gent.mo Cliente," &amp; vbcrlf &amp; "Vi preghiamo di prendere visione del file allegato" &amp; vbcrlf &amp; "{0}" &amp; vbcrlf &amp; "Si prega di non rispondere a questo indirizzo email." &amp; vbcrlf &amp; "Dear Customer," &amp; vbcrlf &amp; "please find the attached document:" &amp; vbcrlf &amp; "{0}" &amp; vbcrlf &amp; "Please do not reply to this email address." &amp; vbcrlf &amp; "ZSCHIMMER &amp; SCHWARZ" &amp; vbcrlf &amp; "Italiana S.p.A." &amp; vbcrlf &amp; "Via A. Ariotto 1/C" &amp; vbcrlf &amp; "I - 13038 Tricerro, Italia" &amp; vbcrlf &amp; "Tel: +39 0161 808111" &amp; vbcrlf &amp; "Fax: +39 0161 807335" &amp; vbcrlf &amp; "Ufficio Commerciale:" &amp; vbcrlf &amp; "Fax: +39 0161 801002" </value>
            </setting>
            <setting name="MetodoCommandDocs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ORDINI CISTERNA|SELECT * FROM VISTA_KNOS_INVIOCONFERMAORDINIMAIL WHERE CISTERNA = 1|1</string>
                        <string>ORDINI IMBALLATO|SELECT * FROM VISTA_KNOS_INVIOCONFERMAORDINIMAIL WHERE CISTERNA = 0|1</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="sendMailDocMetodo" serializeAs="String">
                <value>"Gent.mo Cliente," &amp; vbcrlf &amp; "Vi preghiamo di prendere visione del file allegato" &amp; vbcrlf &amp; "{0}" &amp; vbcrlf &amp; "Si prega di non rispondere a questo indirizzo email." &amp; vbcrlf &amp; "Dear Customer," &amp; vbcrlf &amp; "please find the attached document:" &amp; vbcrlf &amp; "{0}" &amp; vbcrlf &amp; "Please do not reply to this email address." &amp; vbcrlf &amp; "ZSCHIMMER &amp; SCHWARZ" &amp; vbcrlf &amp; "Italiana S.p.A." &amp; vbcrlf &amp; "Via A. Ariotto 1/C" &amp; vbcrlf &amp; "I - 13038 Tricerro, Italia" &amp; vbcrlf &amp; "Tel: +39 0161 808111" &amp; vbcrlf &amp; "Fax: +39 0161 807335" &amp; vbcrlf &amp; "Ufficio Commerciale:" &amp; vbcrlf &amp; "Fax: +39 0161 801002" </value>
            </setting>
            <setting name="sendMailDocSubject" serializeAs="String">
                <value>Invio Doc {0} {1}</value>
            </setting>
            <setting name="pathServerApp" serializeAs="String">
                <value>I:\Italcom\ItalcomMailing</value>
            </setting>
        </ToDoNotificheBSC.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ToDoNotificheBSC.Properties.Settings>
            <setting name="KnoS_User" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="KnoS_PWD" serializeAs="String">
                <value />
            </setting>
            <setting name="KnoS_URL" serializeAs="String">
                <value>http://zsi-websrv:81</value>
            </setting>
            <setting name="DataAggiornamento" serializeAs="String">
                <value>2015-05-01</value>
            </setting>
            <setting name="sendMailBCCSimulazione" serializeAs="String">
                <value>knosmail@gmail.com;m.michieletti@zschimmer-schwarz.com</value>
            </setting>
            <setting name="DataInvioSchede" serializeAs="String">
                <value>2015-01-01</value>
            </setting>
        </ToDoNotificheBSC.Properties.Settings>
    </userSettings>
</configuration>
