<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UserPrefs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UserPrefs.Properties.Settings>
            <setting name="prefs_files_bscexec" serializeAs="String">
                <value>C:\\Some\\Folder\\Location\\Somefilename.txt</value>
            </setting>
            <setting name="pec_color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="default_plot_font" serializeAs="String">
                <value>Microsoft Sans Serif, 7.8pt</value>
            </setting>
        </UserPrefs.Properties.Settings>
    </userSettings>
</configuration>