<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SignRTFPDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SignRTFPDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <SignRTFPDF.Properties.Settings>
            <setting name="startXML" serializeAs="String">
                <value />
            </setting>
            <setting name="KnoS_IdStatoIniziale" serializeAs="String">
                <value>159</value>
            </setting>
            <setting name="KnoS_IdStato1F" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="KnoS_IdStato2F" serializeAs="String">
                <value>161</value>
            </setting>
            <setting name="KnoS_IdStatoPDLFirmato" serializeAs="String">
                <value>147</value>
            </setting>
            <setting name="KnoS_IdAction1F" serializeAs="String">
                <value>237</value>
            </setting>
            <setting name="KnoS_IdAction2F" serializeAs="String">
                <value>238</value>
            </setting>
            <setting name="KnoS_IdActionPDFFirmato" serializeAs="String">
                <value>208</value>
            </setting>
            <setting name="KnoS_AttrNameData1F" serializeAs="String">
                <value>datetime_08</value>
            </setting>
            <setting name="KnoS_AttrNameData2F" serializeAs="String">
                <value>datetime_09</value>
            </setting>
            <setting name="KnoS_AttrNameUtenteTecnico" serializeAs="String">
                <value>varchar_51</value>
            </setting>
            <setting name="KnoS_AttrNameUtenteResponsabileTecnico" serializeAs="String">
                <value>varchar_52</value>
            </setting>
            <setting name="KnoS_AttrNameUtenteCapocCommessa" serializeAs="String">
                <value>varchar_53</value>
            </setting>
            <setting name="KnoS_AttrNameDataFirmaPDL" serializeAs="String">
                <value>datetime_02</value>
            </setting>
            <setting name="KnoS_IdStatoPDLDaFirmare" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="sendMailPopUp" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="KnoS_IdActionPDLDaFirmare" serializeAs="String">
                <value>241</value>
            </setting>
            <setting name="sendMailResponsabileMessage" serializeAs="String">
                <value>Avviso al tecnico responsabile del lavoro nr {0}
I certificati risultano terminati dai tecnici dei quali lei risulta responsabile, viene richiesta la sua firma per procedere con il processo di richiesta firma digitale al tecnico capo commessa 
Prema questo link per procedere {1}
</value>
            </setting>
            <setting name="sendMailCapocommessaMessage" serializeAs="String">
                <value>Avviso al tecnico capo commessa del lavoro nr {0}
I certificati risultano terminati dai tecnici e firmati dai responsabili, viene richiesta la sua firma digitale per terminare il processo ed inviare il certificato al cliente finale.
Prema questo link per procedere {1}
Grazie
</value>
            </setting>
            <setting name="KnoS_AttrNameUtenteResponsabileTecnicoSost" serializeAs="String">
                <value>varchar_54</value>
            </setting>
            <setting name="KnoS_AttrNameUtenteCapocCommessaSost" serializeAs="String">
                <value>varchar_55</value>
            </setting>
            <setting name="KnoS_SearchExpressionResponsabili" serializeAs="String">
                <value />
            </setting>
            <setting name="KnoS_SearchExpressionCapiCommessa" serializeAs="String">
                <value />
            </setting>
            <setting name="KnoS_URL" serializeAs="String">
                <value />
            </setting>
            <setting name="KnoS_IdObject" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KnoS_IdClassSostituti" serializeAs="String">
                <value>133</value>
            </setting>
            <setting name="KnoS_IdViewSostituti" serializeAs="String">
                <value>126</value>
            </setting>
            <setting name="KnoS_IdActionPDLFirmatoCERT" serializeAs="String">
                <value>245</value>
            </setting>
            <setting name="useMapiMail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KnoS_IdClassSurvey" serializeAs="String">
                <value>135</value>
            </setting>
        </SignRTFPDF.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SignRTFPDF.Properties.Settings>
            <setting name="firmatecnico" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>4096</string>
                        <string>150</string>
                        <string>30</string>
                        <string>2133</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="firmaresptecnico" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>4096</string>
                        <string>150</string>
                        <string>30</string>
                        <string>2759</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="firmacapocommessa" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>4096</string>
                        <string>150</string>
                        <string>30</string>
                        <string>3151</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SignRTFPDF.Properties.Settings>
    </applicationSettings>
</configuration>
