<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Confezionamento.Properties.Settings.ZSIConnectionString"
            connectionString="Data Source=srv2k8;Initial Catalog=ZSI;Persist Security Info=True;User ID=trm1;Password=terminale"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>